<div>
  <label class="form-label" for="term">Hero search</label>
  <input
    class="form-control"
    type="text"
    id="term"
    [formControl]="termFormControl">
  <!-- <ul class="list-group">
    <a
      class="list-group-item"
      *ngFor="let hero of heroes"
      routerLink="/hero-form/{{ hero.id }}"
      >{{ hero.name }}</a>
  </ul> -->
  <ul class="list-group">
    <a
      class="list-group-item"
      *ngFor="let hero of heroes$ | async"
      routerLink="/hero-form/{{ hero.id }}"
      >{{ hero.name }}</a>
  </ul>

</div>